.product-details-loading-img-big {
    width: 18.75rem !important;
    height: 18.75rem !important;
}

.product-details-loading-img-small {
    width: 82px;
    height: 82px;
}

.product-details-loading-btn {
    max-width: 12.5rem;
    height: 3.125rem;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
