.product-details-loading-img-big {
    width: 18.75rem !important;
    height: 18.75rem !important;
}

.product-details-loading-img-container {
    width: 20% !important;
    display: flex;
    justify-content: center;
    padding-right: 2px;
}

.product-details-loading-img-container:last-child {
    padding-right: 0;
}

.product-details-loading-img {
    width: 5.125rem !important;
    height: 5.125rem !important;
}

/*? X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .product-details-loading-img {
        width: 4.125rem !important;
        height: 3.825rem !important;
    }
}
