.product-pagination-button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-weight: 600;
    white-space: nowrap;
    color: var(--dark-slate-gray);
    background-color: var(--fine-gray);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0rem 0rem 0rem 0.0625rem;
    transition: all 0.1s linear;
}

.product-pagination-button:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0rem 0rem 0rem 0.0625rem,
        var(--inspiring-red) 0rem 0rem 0rem 0.0625rem inset;
}

.product-pagination-button.active {
    color: var(--not-pure-white);
    background-color: var(--inspiring-red);
}

.product-pagination-dropdown-index {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: var(--dark-slate-gray);
    font-weight: 600;
    background-color: var(--fine-gray);
}

.product-pagination-dropdown {
    z-index: 3;
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(100% + 0.1rem);
    padding: 0.5rem 1rem;
    background-color: var(--fine-gray);
    box-shadow: rgba(0, 0, 0, 0.2) 0rem 1.25rem 1.875rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-0.625rem);
    transition: all 0.2s linear;
}

.product-pagination-dropdown.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.product-pagination-dropdown-item {
    padding: 0.25rem 0;
}

.product-pagination-dropdown-item:hover {
    color: var(--inspiring-red);
}

.product-pagination-paging-btn {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    color: var(--inspiring-red);
    outline-style: none;
}

.product-pagination-paging-btn:hover {
    color: #630606;
}

.product-pagination-paging-btn:active {
    color: darksalmon;
}

.product-pagination-paging-item {
    color: var(--dark-slate-gray);
    padding: 0 1rem;
    margin: 0 1rem;
    transition: all 0.2s linear;
    cursor: pointer;
}

.product-pagination-paging-item:hover {
    color: var(--inspiring-red);
}

.product-pagination-paging-item.active {
    color: var(--not-pure-white);
    background-color: var(--inspiring-red);
    border-radius: 7%;
}

.product-pagination-paging-dots {
    color: var(--dark-slate-gray);
    padding: 0 1rem;
    margin: 0 1rem;
    cursor: default;
}

/*? Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .product-pagination-button {
        font-size: 0.625rem;
        padding: 0.7rem 0.7rem;
        box-shadow: none;
        background-color: white;
        border-right: 1px solid var(--fine-gray);
    }

    .product-pagination-dropdown-index {
        width: 100% !important;
        font-size: 0.625rem;
        padding: 0.5rem 0.5rem;
        background-color: white;
        border-right: 1px solid var(--fine-gray);
    }
    .product-pagination-dropdown-index:last-child {
        border: none;
    }
    .product-pagination-dropdown {
        transform: translateY(0.625rem);
        padding: 0.8rem 0.5rem;
        background-color: white;
    }
    .product-pagination-dropdown-item {
        font-size: 0.625rem;
        padding: 0.5rem 0;
    }
    .product-pagination-paging-item {
        padding: 0 0.7rem;
        margin: 0 0.6rem;
    }
}

/*? Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .product-pagination-button {
        font-size: 0.75rem;
        padding: 0.7rem 2rem;
        box-shadow: none;
        background-color: white;
        border-right: 0.0625rem solid var(--fine-gray);
    }

    .product-pagination-dropdown-index {
        width: 100% !important;
        font-size: 0.75rem;
        padding: 0.5rem 0.5rem;
        background-color: white;
        border-right: 1px solid var(--fine-gray);
    }
    .product-pagination-dropdown-index:last-child {
        border: none;
    }
    .product-pagination-dropdown {
        transform: translateY(0.625rem);
        padding: 0.8rem 0.5rem;
        background-color: white;
    }
    .product-pagination-dropdown-item {
        font-size: 0.75rem;
        padding: 0.5rem 0;
    }
    .product-pagination-paging-item {
        padding: 0 0.7rem;
        margin: 0 0.8rem;
    }
}
