.review-pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.review-pagination-button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-weight: 600;
    white-space: nowrap;
    color: var(--dark-slate-gray);
    background-color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0rem 0rem 0rem 0.0625rem;
    transition: all 0.1s linear;
}

.review-pagination-button:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0rem 0rem 0rem 0.0625rem,
        var(--inspiring-red) 0rem 0rem 0rem 0.0625rem inset;
}

.review-pagination-button.active {
    color: var(--not-pure-white);
    background-color: var(--inspiring-red);
}

.review-pagination-paging-btn {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    color: var(--inspiring-red);
    outline-style: none;
}

.review-pagination-paging-btn:hover {
    color: #630606;
}

.review-pagination-paging-btn:active {
    color: darksalmon;
}

.review-pagination-paging-item {
    color: var(--dark-slate-gray);
    padding: 0 0.8rem;
    margin: 0 0.5rem;
    transition: all 0.2s linear;
    cursor: pointer;
}

.review-pagination-paging-item:hover {
    color: var(--inspiring-red);
}

.review-pagination-paging-item.active {
    color: var(--not-pure-white);
    background-color: var(--inspiring-red);
    border-radius: 7%;
}

.review-pagination-paging-dots {
    color: var(--dark-slate-gray);
    padding: 0 1rem;
    margin: 0 1rem;
    cursor: default;
}

@media (max-width: 767.98px) {
    .review-pagination-container {
        margin-top: 1.875rem;
    }

    .review-pagination-button {
        font-size: 0.625rem;
    }

    .review-pagination-paging-item {
        padding: 0 0.5rem;
        margin: 0 0.4rem;
    }
}
