.product-list-name {
    line-height: 1.5rem;
    height: 3rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@supports (-webkit-line-clamp: 2) {
    .product-list-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.product-list-image {
    object-fit: cover;
}

.product-list-card {
    width: 100%;
    height: 100%;
    max-width: 230px;
    max-height: 360px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.product-list-card:hover {
    transform: translateY(-1px);
    box-shadow: 0 0 5px 1px var(--inspiring-red) !important;
}
