.product-container {
    position: relative;
    float: left;
    width: 19.2%; /** 5 items */
    padding: 0.625rem;
    background: #fff;
}

.product-container:hover {
    /* transform: translateY(-0.0625rem); */
    z-index: 3 !important;
    box-shadow: 0rem 0rem 0.1875rem 0rem var(--inspiring-red);
}

.product-image {
    width: 100%;
    margin-bottom: 0.625rem;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
}

.product-image img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
}

.product-name {
    width: 100%;
    margin-bottom: 0.625rem;
    font-weight: 700;
    color: #222;
    height: 2.5rem;
    line-height: 1.25rem;
    overflow: hidden;
}

.product-name:hover {
    color: var(--inspiring-red-hover);
}

.product-bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.product-price-status-container {
    width: calc(100% - 2.1875rem);
}

.product-price {
    width: 100%;
    font-weight: 700;
    color: #ce0000;
    height: 1.25rem;
    line-height: 1.25rem;
    overflow: hidden;
}

.product-status {
    width: 100%;
    margin-top: 0.625rem;
    font-size: 0.75rem;
}

.product-buynow {
    width: 2.0625rem;
    height: 2.0625rem;
    float: right;
    background-position: -4.8125rem -2.25rem;
    border-radius: 50%;
    border: solid 0.0625rem rgba(0, 0, 0, 0);
}

.product-cart-btn {
    border: none;
    box-shadow: none;
    color: var(--inspiring-red);
    background: transparent;
    transition: all 0.1s linear;
}

.product-cart-btn:hover {
    color: var(--inspiring-red-hover);
}

.product-cart-btn:active {
    color: darksalmon;
}

.product-num-reviews {
    font-size: 12.8px;
}

.product-label-bg {
    background-color: snow;
}

/*? X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .product-container {
        width: 49.5%; /** 2 items */
    }
}

/*? Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .product-container {
        width: 32.666666666666664%; /** 3 items */
    }
}

/*? Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .product-container {
        width: 24.25%; /** 4 items */
    }
}
