.product-wrapper {
    flex: 1 0 20%;
    max-width: 20%;
    padding: 0.375rem;
}

.product-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background: white;
    padding: 0.3125rem;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: box-shadow 0.1s cubic-bezier(0.4, 0, 0.6, 1),
        -webkit-transform 0.1s cubic-bezier(0.4, 0, 0.6, 1);
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.6, 1),
        box-shadow 0.1s cubic-bezier(0.4, 0, 0.6, 1);
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.6, 1),
        box-shadow 0.1s cubic-bezier(0.4, 0, 0.6, 1),
        -webkit-transform 0.1s cubic-bezier(0.4, 0, 0.6, 1);
}

.product-container:hover {
    z-index: 1;
    transform: translateY(-0.0625rem);
    box-shadow: 0rem 0rem 0.1875rem 0rem var(--inspiring-red);
}

.product-image-container {
    margin-bottom: 0.3125rem;
    position: relative;
    padding-top: 100%;
}

.product-image {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.product-name {
    overflow: hidden;
    font-weight: 700;
    height: 2.5rem;
    line-height: 1.25rem;
    margin-bottom: 0.3125rem;
    color: var(--not-pure-black);
}

.product-name:hover {
    color: var(--inspiring-red-hover);
}

.product-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.product-info-container {
    width: 100%;
}

.product-price {
    font-weight: 700;
    color: var(--inspiring-red);
    height: 1.25rem;
    line-height: 1.25rem;
    overflow: hidden;
}

.product-rating {
    margin-top: 0.3125rem;
    font-size: 0.75rem;
}

.product-cart-btn {
    font-size: 1.5625rem;
    border: none;
    box-shadow: none;
    color: var(--inspiring-red);
    background: transparent;
    transition: all 0.1s linear;
}

.product-cart-btn:hover {
    color: var(--inspiring-red-hover);
}

.product-cart-btn:active {
    color: darksalmon;
}

/*? X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .product-wrapper {
        flex-basis: 50%; /** 2 items */
        max-width: 50%;
    }
}

/*? Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .product-wrapper {
        flex-basis: 33.333333333333336%; /** 3 items */
        max-width: 33.333333333333336%;
    }
}

/*? Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .product-wrapper {
        flex-basis: 25%; /** 4 items */
        max-width: 25%;
    }
}
