.navbar-cart-container {
    position: relative;
}

.navbar-cart-logo {
    border-left: 0.125rem solid white;
    padding-left: 1.3rem;
    text-transform: capitalize;
}

.navbar-cart-badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--not-pure-white);
    color: var(--inspiring-red);
    border-radius: 2.75rem;
    min-width: 0.6875rem;
    height: 1rem;
    padding: 0.625rem 0.625rem;
    font-weight: 600;
    top: 0.125rem;
    left: 1.6875rem;
}
