.navbar-cart-container {
    position: relative;
}

.navbar-cart-logo {
    border-left: 0.125rem solid white;
    padding-left: 0.9375rem;
    text-transform: capitalize;
}

.navbar-cart-badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--inspiring-red);
    border-radius: 2.75rem;
    min-width: 0.6875rem;
    height: 1rem;
    padding: 10px 10px;
    font-weight: 600;
    top: 0.125rem;
    left: 1.6875rem;
}
