:root {
    --inspiring-red: #c73434;
    --inspiring-red-hover: #df4343;
    --white-hover: #d6d6d6;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
    background-color: whitesmoke !important;
}

input {
    box-shadow: none !important;
}

input:focus {
    border-color: lightslategray !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/** Background */

.bg-ired {
    background-color: var(--inspiring-red);
}

.bg-loading {
    height: 1.25rem;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #e79696, #f16363);
    background-size: 600% 600%;
    animation: gradient 3s linear infinite;
}

/** Text */

.text-ired {
    color: var(--inspiring-red);
}

.fw-600 {
    font-weight: 600;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/** Button */

.btn {
    box-shadow: none !important;
}

.btn-ired {
    color: #fff !important;
    background-color: var(--inspiring-red) !important;
    border-color: var(--inspiring-red) !important;
}

.btn-ired:hover {
    background-color: brown !important;
}

.btn-ired:active {
    background-color: darksalmon !important;
}

.btn-ired-loading {
    background-color: brown !important;
    pointer-events: none;
}

/** Link */

.link-inherit {
    text-decoration: inherit;
    color: inherit;
}

.link-label {
    text-decoration: none;
    color: var(--inspiring-red);
    font-weight: 600;
}

.link-label:hover {
    color: brown;
}

.link-label:active {
    color: darksalmon;
}

.icon {
    vertical-align: -0.09rem;
}

/** Form */

.form-check-input {
    box-shadow: none !important;
}

.form-check-input:focus {
    border-color: #fd9797 !important;
}

.form-check-input:checked {
    background-color: var(--inspiring-red) !important;
    border-color: var(--inspiring-red) !important;
}
