:root {
    --inspiring-red: #c73434;
    --inspiring-red-hover: #df4343;
    --dark-slate-gray: #2f2f2f;
    --not-pure-white: #fdfdfd;
    --white-hover: #f8f8f8;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
    background-color: whitesmoke !important;
}

input {
    box-shadow: none !important;
}

input:focus {
    border-color: lightslategray !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/** Background */
.bg-ired {
    background-color: var(--inspiring-red);
}

.bg-label {
    background-color: snow;
}

.bg-loading {
    height: 1.25rem;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #e79696, #f16363);
    background-size: 600% 600%;
    animation: gradient 3s linear infinite;
}

/** Text */
.text-ired {
    color: var(--inspiring-red);
}

.text-sdark {
    color: var(--dark-slate-gray);
}

.fw-600 {
    font-weight: 600;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/** Button */
.btn {
    box-shadow: none !important;
}

.btn-ired {
    color: #fff !important;
    background-color: var(--inspiring-red) !important;
    border-color: var(--inspiring-red) !important;
}

.btn-ired:hover {
    background-color: brown !important;
}

.btn-ired:active {
    background-color: darksalmon !important;
}

.btn-ired-loading {
    background-color: brown !important;
    pointer-events: none;
}

.btn-white {
    color: var(--dark-slate-gray) !important;
    background-color: var(--not-pure-white) !important;
    border: 0.0625rem solid rgba(0, 0, 0, 0.14) !important;
}

.btn-white:hover {
    background-color: var(--white-hover) !important;
}

.btn-white:active {
    background-color: white !important;
}

.btn-white-loading {
    background-color: brown !important;
    pointer-events: none;
}

/** Link */
.link-inherit {
    text-decoration: inherit;
    color: inherit;
}

.link-label {
    text-decoration: none;
    color: var(--inspiring-red);
    font-weight: 600;
}

.link-label:hover {
    color: brown;
}

.link-label:active {
    color: darksalmon;
}

.icon {
    vertical-align: -0.09rem;
}

/** Form */
.form-check-input {
    box-shadow: none !important;
}

.form-check-input:focus {
    border-color: #fd9797 !important;
}

.form-check-input:checked {
    background-color: var(--inspiring-red) !important;
    border-color: var(--inspiring-red) !important;
}

/** Border */
.separator {
    border-right: 0.0625rem solid hsla(0, 0%, 100%, 0.4);
    height: 0.8125rem;
    margin: 0 0.3125rem;
}

.divider {
    border-top: 0.0625rem solid #efefef;
    border-bottom: 0.0625rem solid #efefef;
}

.divider-top {
    border-top: 0.0625rem solid #efefef;
}

.divider-bottom {
    border-bottom: 0.0625rem solid #efefef;
}

.postcard-border {
    height: 0.25rem;
    width: 100%;
    background-image: repeating-linear-gradient(
        45deg,
        steelblue 0 1.875rem,
        transparent 1.875rem 2.8125rem,
        coral 2.8125rem 4.6875rem,
        transparent 4.6875rem 5.625rem
    );
}

/** Sizing */
.w-5 {
    width: 5% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-25 {
    width: 25% !important;
}

.w-30 {
    width: 30% !important;
}

.w-35 {
    width: 35% !important;
}

.w-40 {
    width: 40% !important;
}

.w-45 {
    width: 45% !important;
}

.w-50 {
    width: 50% !important;
}

.w-55 {
    width: 55% !important;
}

.w-60 {
    width: 60% !important;
}

.w-65 {
    width: 65% !important;
}

.w-70 {
    width: 70% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}

/** Loading */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
