body {
    background-color: red;
}

.loading-card {
    border: none;
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
}

.loading-inner-card {
    height: 20px;
    background-color: #eee;
}

.loading-card-1 {
    height: 200px;
    background-color: #eee;
}

.loading-card-2 {
    height: 130px;
}

.h-screen {
    height: 100vh;
}

.loading-animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
    50% {
        opacity: 0.9;
    }
}
