.password-strength-bar {
    height: 0.2rem;
    background-color: lightgray;
}

.password-strong {
    background-color: lawngreen;
}

.password-medium {
    background-color: darkorange;
}

.password-weak {
    background-color: red;
}
