.chatbot-bubble {
    position: fixed;
    z-index: 3;
    bottom: 1.25rem;
    right: 1.25rem;
    padding: 0.625rem;
    border-radius: 25%;
    background-color: var(--inspiring-red);
    box-shadow: rgba(0, 0, 0, 0.05) 0rem 0rem 0rem 0.0625rem;
    transition: all 0.1s linear;
    transform: translateZ(0);
}

.chatbot-bubble:hover {
    transform: scale(1.05);
}

.chatbot-bubble.active {
    display: none;
}

.chatbot-icon-container {
    width: 3rem;
    height: 3rem;
    transform: translateZ(0);
}

.chatbot-icon {
    width: 100%;
    height: auto;
    transform: translateZ(0);
}

.chat-container {
    display: none;
    position: fixed;
    z-index: 3;
    bottom: 1.25rem;
    right: 1.25rem;
    width: 425px;
    max-width: 425px;
    height: 625px;
    max-height: 625px;
    background-color: var(--smoke);
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.chat-container.active {
    display: block;
}

.chat-header {
    position: relative;
    text-align: center;
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 8px 0;
    border-bottom: 2px solid var(--light-gray);
}

.chat-exit-btn {
    position: absolute;
    top: 0.625rem;
    right: 1.375rem;
    cursor: pointer;
}

.chat-exit-btn:hover {
    color: var(--inspiring-red);
}

.chat-exit-btn:active {
    color: darksalmon;
}

.chat-message-container {
    overflow-y: scroll;
}
