.react-date-picker__button {
    transition: all 0.2s ease;
    outline-style: none;
}

.react-date-picker__button:hover,
.react-date-picker__button:enabled:focus {
    color: var(--inspiring-red);
}

.react-date-picker__wrapper {
    padding: 0.1875rem;
}

.react-date-picker__button:enabled:focus .react-date-picker__button__icon {
    stroke: var(--inspiring-red);
}

.react-date-picker__calendar .react-calendar {
    border: none;
}

.react-calendar__tile--active {
    background: var(--inspiring-red);
    color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: var(--inspiring-red-hover);
}
