.number-input-group {
    width: 9.375rem !important;
}

.number-input-form:focus {
    border-color: #ccc !important;
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
