.pagination-button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-weight: 600;
    color: var(--dark-slate-gray);
    background-color: var(--fine-gray);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0rem 0rem 0rem 0.0625rem;
    transition: all 0.1s linear;
}

.pagination-button:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, var(--inspiring-red) 0px 0px 0px 1px inset;
}

.pagination-button.active {
    color: var(--not-pure-white);
    background-color: var(--inspiring-red);
}

.pagination-dropdown-index {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: var(--dark-slate-gray);
    font-weight: 600;
    background-color: var(--fine-gray);
}

.pagination-dropdown {
    z-index: 3;
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(100% + 0.1rem);
    padding: 0.5rem 1rem;
    background-color: var(--fine-gray);
    box-shadow: rgba(0, 0, 0, 0.2) 0rem 1.25rem 1.875rem;
    opacity: 0;
    transform: translateY(-0.625rem);
    transition: all 0.2s linear;
}

.pagination-dropdown.show {
    opacity: 1;
    transform: translateY(0);
}

.pagination-dropdown-item {
    padding: 0.25rem 0;
}

.pagination-dropdown-item:hover {
    color: var(--inspiring-red);
}

.pagination-paging-btn {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    color: var(--inspiring-red);
    outline-style: none;
}

.pagination-paging-btn:hover {
    color: #630606;
}

.pagination-paging-btn:active {
    color: darksalmon;
}

.pagination-paging-item {
    color: var(--dark-slate-gray);
    padding: 0 1.5rem;
}

.pagination-paging-item.active {
    color: var(--not-pure-white);
    background-color: var(--inspiring-red);
}
