.cart-item-img {
    width: 100%;
    height: 100%;
    max-width: 5.125rem;
    max-height: 5.125rem;
    object-fit: contain;
}

.cart-item-name {
    font-weight: 600;
    line-height: 1.5rem;
    height: 3rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    color: var(--dark-slate-gray);
}

@supports (-webkit-line-clamp: 2) {
    .cart-item-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.cart-btn {
    border: none;
    padding: 0.5rem 1rem;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.05) 0rem 0rem 0rem 0.0625rem;
    transition: all 0.1s linear;
}

.btn-del {
    color: var(--not-pure-white);
    background-color: var(--inspiring-red);
}

.btn-del:hover {
    background-color: brown;
}

.btn-del:active {
    background-color: darksalmon;
}

.btn-purchase {
    color: var(--inspiring-red);
    border: 0.0625rem solid var(--inspiring-red);
    background-color: linen;
}

.btn-purchase:hover {
    background-color: snow;
}

.btn-purchase:active {
    background-color: darksalmon;
}
