.profile-title-container {
    border-bottom: 0.0625rem solid #efefef;
}

.profile-user-image {
    width: 100%;
    height: 100%;
    max-width: 18.75rem;
    max-height: 18.75rem;
    object-fit: contain;
}
