.navbar-toggler {
    box-shadow: none !important;
}

.navbar-dropdown {
    -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.navbar-dropdown.active {
    -webkit-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    -moz-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    -ms-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    -o-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
    transition: max-height 0.3s, opacity 0.2s, visibility 0s;

    opacity: 1;
    visibility: visible;
}

.navbar-dropdown.active-height-112 {
    /** Default height for auth=false and social links */
    /** 2.5rem + 2.5rem + 2rem = 7rem */
    max-height: 7rem;
}

.navbar-dropdown.active-height-162 {
    /** Height for auth=false, cart badge, social links */
    /** 2.5rem + 2.5rem + 3.125rem + 2rem = 10.125rem */
    max-height: 10.125rem;
}

.navbar-dropdown.active-height-165 {
    /** Height for auth=false, search box, social links */
    /** 2.5rem + 2.5rem + 3.3125rem + 2rem = 10.3125rem */
    max-height: 10.3125rem;
}

.navbar-dropdown.active-height-202 {
    /** Height for auth=true, cart badge, social links */
    /** 2.5rem + 2.5rem + 2.5rem + 3.125rem + 2rem = 12.625rem */
    max-height: 12.625rem;
}

.navbar-dropdown.active-height-242 {
    /** Height for auth=true, control, cart badge, social links */
    /** 2.5rem + 2.5rem + 2.5rem + 3.125rem + 2rem = 12.625rem */
    max-height: 15.125rem;
}

.navbar-dropdown.active-height-205 {
    /** Height for auth=true, search box, social links */
    /** 2.5rem + 2.5rem + 2.5rem + 3.3125rem + 2rem = 12.8125rem */
    max-height: 12.8125rem;
}

.navbar-dropdown.active-height-245 {
    /** Height for auth=true, control, search box, social links */
    /** 2.5rem + 2.5rem + 2.5rem + 3.3125rem + 2rem = 12.8125rem */
    max-height: 15.3125rem;
}

.navbar-dropdown.active-height-215 {
    /** Height for auth=false, cart badge, search box, social links */
    /** 2.5rem + 2.5rem + 3.125rem + 3.3125rem + 2rem = 13.4375rem */
    max-height: 13.4375rem;
}

.navbar-dropdown.active-height-255 {
    /** Height for auth=true, cart badge, search box, social links */
    /** 2.5rem + 2.5rem + 2.5rem + 3.125rem + 3.3125rem + 2rem = 15.9375rem */
    max-height: 15.9375rem;
}
