.secondarybar-badge-container {
    width: 11.875rem;
    height: 4rem;
    padding: 0;
    background-color: coral;
}

.secondarybar-badge-separator {
    border-right: 0.1875rem solid var(--not-pure-white);
    height: 4rem;
    margin: 0 0.3125rem;
}

.secondarybar-badge-title {
    color: var(--not-pure-white);
    font-weight: 600;
    font-size: 2rem;
    text-transform: capitalize;
}

/*? X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .secondarybar-badge-separator {
        border-right-width: 0.125rem;
        height: 2.4rem;
    }
    .secondarybar-badge-title {
        font-size: 1.2rem;
    }
}

/*? Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .secondarybar-badge-separator {
        border-right-width: 0.15625rem;
        height: 2.4rem;
    }
    .secondarybar-badge-title {
        font-size: 1.5rem;
    }
}

/*? Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .secondarybar-badge-separator {
        border-right-width: 0.15625rem;
        height: 2.4rem;
    }
    .secondarybar-badge-title {
        font-size: 1.5rem;
    }
}
