.secondarybar-badge-container {
    width: 11.875rem !important;
    height: 4rem !important;
    padding: 0 !important;
    background-color: coral;
}

.secondarybar-badge {
    width: 100%;
    height: 100%;
}
