/*! CSS Used from: https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/bundle.5261b0559ab69b84ef4d.css */
.btn {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    flex-direction: column;
    font-size: 14px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    outline: 0;
    cursor: pointer;
}
.btn--inline {
    display: inline-flex;
}
.btn--m {
    height: 40px;
    padding: 0 20px;
    min-width: 70px;
    max-width: 220px;
}
.btn-solid-primary {
    color: #fff;
    background: #ee4d2d;
}
.btn-solid-primary:not(.btn-solid-primary--disabled):hover {
    background: #f05d40;
}
.btn-solid-primary:not(.btn-solid-primary--disabled):active,
.btn-solid-primary:not(.btn-solid-primary--disabled):focus {
    background: #e2492b;
    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.05);
}
.btn-light {
    background: #fff;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
}
.btn-light:active,
.btn-light:hover {
    background: rgba(0, 0, 0, 0.02);
}
.btn-light:active {
    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.05);
}
svg:not(:root) {
    overflow: hidden;
}
button,
input {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button {
    text-transform: none;
}
button {
    -webkit-appearance: button;
    cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
/*! CSS Used from: https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/3496.89a05d727daa7dbad470.css */
.input-with-validator {
    display: flex;
    align-items: center;
    background-color: #fff;
    position: relative;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.02);
    color: #222;
    height: 40px;
    padding: 10px;
    transition: border-color 0.1s ease;
}
.input-with-validator input {
    flex: 1;
    font-size: 14px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: 0;
}
.input-with-validator input:-moz-placeholder {
    color: #bbb;
}
.input-with-validator input:-ms-input-placeholder {
    color: #bbb;
}
.input-with-validator input::-webkit-input-placeholder {
    color: #bbb;
}
.input-with-validator input::-moz-placeholder {
    color: #bbb;
}
.input-with-validator:hover {
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.05);
}
.stardust-radio {
    font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    cursor: pointer;
    padding: 16px 12px;
}
.stardust-radio__content {
    cursor: pointer;
}
.stardust-radio-button {
    margin-right: 8px;
    flex-shrink: 0;
    position: relative;
    width: 18px;
    height: 18px;
}
.stardust-radio-button__outer-circle {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, 0.26);
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.stardust-radio-button__outer-circle > .stardust-radio-button__inner-circle {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #ee4d2d;
    opacity: 0;
}
.stardust-radio-button--checked .stardust-radio-button__outer-circle {
    border-color: #ee4d2d;
}
.stardust-radio-button--checked
    > .stardust-radio-button__outer-circle
    > .stardust-radio-button__inner-circle {
    opacity: 1;
}
input {
    flex: 1;
    padding: 0;
    border: 0;
    word-break: break-all;
}
input,
input:active,
input:focus {
    outline: none;
}
input::-webkit-input-placeholder {
    color: #bbb;
}
input::-moz-placeholder {
    color: #bbb;
}
input:-ms-input-placeholder {
    color: #bbb;
}
input::-ms-input-placeholder {
    color: #bbb;
}
input::placeholder {
    color: #bbb;
}
input:disabled {
    background: transparent;
}
/*! CSS Used from: https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/2825.7cbfed0a002cdbf53c96.css */
._1FzaUZ,
.X1SONv {
    align-items: center;
    display: flex;
}
.X1SONv {
    flex-direction: column;
}
._1FzaUZ {
    justify-content: center;
}
._1FzaUZ {
    height: 6.25rem;
    width: 6.25rem;
    margin: 1.25rem 0;
    position: relative;
}
.TgSfgo {
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.TgSfgo {
    border-radius: 50%;
}
._2xS5eV {
    display: none;
}
._3Jd4Zu {
    margin-top: 0.75rem;
    display: block;
}
._3UgHT6 {
    color: #999;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
._1iNZU3 {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
._2_JugQ {
    width: 80%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 1.25rem;
}
._3BlbUs {
    margin-bottom: 1.875rem;
}
._2PfA-y {
    width: 20%;
    text-align: right;
    color: rgba(85, 85, 85, 0.8);
    text-transform: capitalize;
    overflow: hidden;
}
._2bdFDW {
    align-items: center;
    display: flex;
}
._3S9myJ {
    font-size: 0.875rem;
    color: #333;
}
._2CLMxo {
    border: 0;
    outline: none;
    background: none;
    color: #05a;
    font-size: 0.8125rem;
    text-transform: capitalize;
    text-decoration: underline;
}
.input-with-validator {
    display: flex;
    align-items: center;
    background-color: #fff;
    position: relative;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.02);
    color: #222;
    height: 40px;
    padding: 10px;
    transition: border-color 0.1s ease;
}
.input-with-validator input {
    flex: 1;
    font-size: 14px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: 0;
}
.input-with-validator input:-moz-placeholder {
    color: #bbb;
}
.input-with-validator input:-ms-input-placeholder {
    color: #bbb;
}
.input-with-validator input::-webkit-input-placeholder {
    color: #bbb;
}
.input-with-validator input::-moz-placeholder {
    color: #bbb;
}
.input-with-validator:hover {
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.05);
}
.stardust-radio {
    font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    cursor: pointer;
    padding: 16px 12px;
}
.stardust-radio__content {
    cursor: pointer;
}
.stardust-radio-button {
    margin-right: 8px;
    flex-shrink: 0;
    position: relative;
    width: 18px;
    height: 18px;
}
.stardust-radio-button__outer-circle {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, 0.26);
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.stardust-radio-button__outer-circle > .stardust-radio-button__inner-circle {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #ee4d2d;
    opacity: 0;
}
.stardust-radio-button--checked .stardust-radio-button__outer-circle {
    border-color: #ee4d2d;
}
.stardust-radio-button--checked
    > .stardust-radio-button__outer-circle
    > .stardust-radio-button__inner-circle {
    opacity: 1;
}
._119wWy .stardust-radio-group {
    display: flex;
}
._119wWy .stardust-radio {
    padding: 0;
    margin-right: 0.75rem;
}
.shopee-dropdown {
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.shopee-dropdown--has-selected .shopee-dropdown__entry--selected {
    color: rgba(0, 0, 0, 0.8);
}
.shopee-dropdown__entry {
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 0.9375rem;
}
.shopee-dropdown__entry span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
}
.shopee-dropdown__entry .shopee-svg-icon {
    margin-left: 0.3125rem;
    font-size: 0.75rem;
}
.shopee-dropdown__entry--selected {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    height: 2.5rem;
    background: #fff;
    color: #bbb;
}
.shopee-dropdown__entry--selected:hover {
    border-color: #ee4d2d;
}
._2w5iZe {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
._2w5iZe .shopee-dropdown {
    width: 32%;
    display: flex;
}
._2w5iZe .shopee-dropdown__entry {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
._31PFen {
    margin-bottom: 3.75rem;
    padding-left: calc(20% + 1.25rem);
}
.goiz2O {
    align-items: flex-start;
}
._1aIEbS,
.goiz2O {
    display: flex;
}
.goiz2O {
    flex-direction: row;
}
._1aIEbS {
    justify-content: center;
}
.goiz2O {
    padding-top: 1.875rem;
}
.pJout2 {
    flex: 1;
    padding-right: 3.125rem;
}
._1aIEbS {
    width: 17.5rem;
    overflow: hidden;
    border-left: 0.0625rem solid #efefef;
}
/*! CSS Used from: https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/addondeal/622.d46ace3c05b30538e720.css */
.btn {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    flex-direction: column;
    font-size: 14px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    outline: 0;
    cursor: pointer;
}
.btn--inline {
    display: inline-flex;
}
.btn--m {
    height: 40px;
    padding: 0 20px;
    min-width: 70px;
    max-width: 220px;
}
.btn-solid-primary {
    color: #fff;
    background: #ee4d2d;
}
.btn-solid-primary:not(.btn-solid-primary--disabled):hover {
    background: #f05d40;
}
.btn-solid-primary:not(.btn-solid-primary--disabled):active,
.btn-solid-primary:not(.btn-solid-primary--disabled):focus {
    background: #e2492b;
    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.05);
}
.btn-light {
    background: #fff;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
}
.btn-light:active,
.btn-light:hover {
    background: rgba(0, 0, 0, 0.02);
}
.btn-light:active {
    box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.05);
}
/*! CSS Used fontfaces */
@font-face {
    font-display: swap;
    font-family: Roboto;
    src: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/f1bcf0f64a201912072b3597bdbf269b.eot);
    src: local('Roboto Light'), local('Roboto-Light'),
        url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/8dc942c71385e7509b87af5d07f3db78.woff)
            format('woff'),
        url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/c248e1508ed79ef03adf0260317acc33.ttf)
            format('truetype'),
        url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/22b00e9ebe4fb931e1969e81af9b3b77.svg#Roboto-Light)
            format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-display: swap;
    font-family: Roboto;
    src: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/5edb75fadfbc53d7745c4c85046781f7.eot);
    src: local('Roboto'), local('Roboto-Regular'),
        url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/770a8fca674a3550e241a6de7fa82d8b.woff)
            format('woff'),
        url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/10952ea0fbd7cb93977fad8128712d87.ttf)
            format('truetype'),
        url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/530bb210634462ee86def85cac06cd98.svg#Roboto-Regular)
            format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-display: swap;
    font-family: Roboto;
    src: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/37f419871727f019c788ddf132dca114.eot);
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/8bd7856b64b4313341ebfbc0136c9d74.woff)
            format('woff'),
        url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/69c061b7c23590e75a8806c4ed465be4.ttf)
            format('truetype'),
        url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/e68a8399887dea81b6f6f236b74c2e66.svg#Roboto-Bold)
            format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-display: swap;
    font-family: Roboto;
    src: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/f4df501fdaf4863dc4e07e1eb19af8f8.eot);
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/eb797abfa6a5cca2463e423c07c4f6ea.woff)
            format('woff'),
        url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/ad148b1c1dd7fb964d14f7c4c547c1b4.ttf)
            format('truetype'),
        url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/b9511d3bde226fd11da07e3bb26e4b7c.svg#Roboto-Medium)
            format('svg');
    font-weight: 500;
    font-style: normal;
}
