<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="test3.css" />
        <style>
            body {
                background-color: blanchedalmond;
            }
        </style>
    </head>
    <body>
        <div class="_1YAByT">
            <a
                data-sqe="link"
                href="/-KHÔ-MÁU-Đàn-Guitar-Acoustic-Rosen-G11-tặng-kèm-bộ-phụ-kiện-i.92120081.7545500114?sp_atk=b19ca551-e086-4ba9-804f-d54fb4c708ed"
                ><div class="_3QUP7l _2R2waF">
                    <div class="_9qe9lA _2q9Gjc">
                        <div class="_25_r8I ggJllv">
                            <img
                                width="invalid-value"
                                height="invalid-value"
                                alt="[KHÔ MÁU] Đàn Guitar Acoustic Rosen G11 - tặng kèm bộ phụ kiện"
                                class="_3-N5L6 _2GchKS"
                                style="object-fit: contain"
                                src="https://cf.shopee.vn/file/376080bc7186746ae8da5f2b3691c75c_tn"
                            />
                            <div class="_3NVV-i">
                                <div class="_3yCxz- _3aFlEb _3Kq1-f">
                                    <span class="percent">17%</span><span class="WL8HRl">giảm</span>
                                </div>
                            </div>
                            <div class="LvWDWe"></div>
                            <div class="_3x65P3">
                                <div class="customized-overlay-image">
                                    <img
                                        src="https://cf.shopee.vn/file/96d58cabc214ec3312f029650e373a6e"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="_3zWriB">
                            <div class="_2pfw2D">
                                <div class="_1N6I4W">
                                    <div class="_10Wbs- UjjMrh">
                                        [KHÔ MÁU] Đàn Guitar Acoustic Rosen G11 - tặng kèm bộ phụ
                                        kiện
                                    </div>
                                </div>
                                <div class="_2sSzcR">
                                    <div
                                        class="_1PWkR nt-medium nt-foot _3nkRL"
                                        style="color: rgb(246, 145, 19)"
                                    >
                                        <svg class="_2DRZW _2xFcL" viewBox="-0.5 -0.5 4 16">
                                            <path
                                                d="M4 0h-3q-1 0 -1 1a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3q0 1 1 1h3"
                                                stroke-width="1"
                                                transform=""
                                                stroke="currentColor"
                                                fill="#f69113"
                                            ></path>
                                        </svg>
                                        <div
                                            class="_1FKkT _3Ao0A"
                                            style="
                                                color: white;
                                                background-color: rgb(246, 145, 19);
                                            "
                                        >
                                            Giảm ₫20k
                                        </div>
                                        <svg class="_2DRZW _2xFcL" viewBox="-0.5 -0.5 4 16">
                                            <path
                                                d="M4 0h-3q-1 0 -1 1a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3v0.333a1.2 1.5 0 0 1 0 3q0 1 1 1h3"
                                                stroke-width="1"
                                                transform="rotate(180) translate(-3 -15)"
                                                stroke="currentColor"
                                                fill="#f69113"
                                            ></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="_2J-vcf _1zR5G3">
                                <div class="zp9xm9 _3Oai0w">
                                    <span class="_1qp1Qy">₫</span
                                    ><span class="_18rPUd">1.349.000</span>
                                </div>
                                <div class="_2VIlt8 _2lMdJA">Đã bán 80</div>
                            </div>
                        </div>
                        <div class="shopee-item-card__hover-footer">Tìm sản phẩm tương tự</div>
                    </div>
                </div></a
            >
        </div>
    </body>
</html>
