<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS -->
        <!-- <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        /> -->
        <!-- CSS only -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="test.css" />
        <title>Hello, world!</title>
    </head>

    <body>
        <div class="box-cat-right">
            <div class="banner-cat">
                <div class="owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div
                            class="owl-stage"
                            style="
                                transform: translate3d(-2626px, 0px, 0px);
                                transition: all 0s ease 0s;
                                width: 6565px;
                            "
                        >
                            <div class="owl-item cloned" style="width: 1313px">
                                <a href="/ad.php?id=12"
                                    ><img
                                        class="owl-lazy"
                                        data-src="/media/banner/22_Jul90e5e9fb5157f58c82195a819c6f3f53.png"
                                        alt=""
                                        src="https://kccshop.vn/media/banner/22_Jul90e5e9fb5157f58c82195a819c6f3f53.png"
                                        style="opacity: 1"
                                /></a>
                            </div>
                            <div class="owl-item cloned" style="width: 1313px">
                                <a href="/ad.php?id=12"
                                    ><img
                                        class="owl-lazy"
                                        data-src="/media/banner/22_Jul90e5e9fb5157f58c82195a819c6f3f53.png"
                                        alt=""
                                        src="https://kccshop.vn/media/banner/22_Jul90e5e9fb5157f58c82195a819c6f3f53.png"
                                        style="opacity: 1"
                                /></a>
                            </div>
                            <div class="owl-item active" style="width: 1313px">
                                <a href="/ad.php?id=12"
                                    ><img
                                        class="owl-lazy"
                                        data-src="/media/banner/22_Jul90e5e9fb5157f58c82195a819c6f3f53.png"
                                        alt=""
                                        src="https://kccshop.vn/media/banner/22_Jul90e5e9fb5157f58c82195a819c6f3f53.png"
                                        style="opacity: 1"
                                /></a>
                            </div>
                            <div class="owl-item cloned" style="width: 1313px">
                                <a href="/ad.php?id=12"
                                    ><img
                                        class="owl-lazy"
                                        data-src="/media/banner/22_Jul90e5e9fb5157f58c82195a819c6f3f53.png"
                                        alt=""
                                        src="https://kccshop.vn/media/banner/22_Jul90e5e9fb5157f58c82195a819c6f3f53.png"
                                        style="opacity: 1"
                                /></a>
                            </div>
                            <div class="owl-item cloned" style="width: 1313px">
                                <a href="/ad.php?id=12"
                                    ><img
                                        class="owl-lazy"
                                        data-src="/media/banner/22_Jul90e5e9fb5157f58c82195a819c6f3f53.png"
                                        alt=""
                                        src="https://kccshop.vn/media/banner/22_Jul90e5e9fb5157f58c82195a819c6f3f53.png"
                                        style="opacity: 1"
                                /></a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled">
                        <button type="button" role="presentation" class="owl-prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i></button
                        ><button type="button" role="presentation" class="owl-next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>

            <div class="product-cat-sort bg-w">
                <div class="count-pro">Tìm thấy <span>102</span> sản phẩm</div>
                <div class="product-cat-sort-r">
                    <select onchange="location.href=this.value" class="sort-pro">
                        <option value="0">Sắp xếp sản phẩm</option>

                        <option value="https://kccshop.vn/cpu-bo-vi-xu-ly/?sort=new">
                            Mới nhất
                        </option>

                        <option value="https://kccshop.vn/cpu-bo-vi-xu-ly/?sort=price-asc">
                            Giá tăng dần
                        </option>

                        <option value="https://kccshop.vn/cpu-bo-vi-xu-ly/?sort=price-desc">
                            Giá giảm dần
                        </option>

                        <option value="https://kccshop.vn/cpu-bo-vi-xu-ly/?sort=view">
                            Lượt xem
                        </option>

                        <option value="https://kccshop.vn/cpu-bo-vi-xu-ly/?sort=comment">
                            Trao đổi
                        </option>

                        <option value="https://kccshop.vn/cpu-bo-vi-xu-ly/?sort=rating">
                            Đánh giá
                        </option>

                        <option value="https://kccshop.vn/cpu-bo-vi-xu-ly/?sort=name">
                            Tên A-&gt;Z
                        </option>
                    </select>
                </div>
            </div>
            <div class="product-list bg-w">
                <div class="item">
                    <div class="p-container">
                        <span class="p-discount icon-2021">-15%</span>

                        <a href="/cpu-intel-core-i7-12700kf/" class="p-img">
                            <img
                                src="https://kccshop.vn/media/product/250-2689-12700k.jpg"
                                alt="CPU Intel Core i7 12700KF  (5.00GHz, 12 Nhân 20 Luồng, 25M Cache, Alder Lake) - Socket Intel LGA 1700"
                            />
                        </a>
                        <a href="/cpu-intel-core-i7-12700kf/" class="p-name line-clamp-2"
                            >CPU Intel Core i7 12700KF (5.00GHz, 12 Nhân 20 Luồng, 25M Cache, Alder
                            Lake) - Socket Intel LGA 1700</a
                        >
                        <div class="p-bot">
                            <div class="p-stt-price">
                                <span class="p-price">11.790.000đ</span>
                                <span class="p-old-price"> 13.790.000đ </span>

                                <span class="p-stt p-con"
                                    ><i class="fa fa-check" aria-hidden="true"></i> Còn hàng</span
                                >
                            </div>
                            <a
                                href="javascript:;"
                                onclick="addProductToCart(2692, 0, 1, 0);"
                                class="product-buynow icon-2021"
                            ></a>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="p-container">
                        <a href="/cpu-intel-core-i5-12600kf/" class="p-img">
                            <img
                                src="https://kccshop.vn/media/product/250-2691-"
                                alt="CPU Intel Core i5 12600KF  (4.90GHz, 10 Nhân 16 Luồng, 20M Cache, Alder Lake) - Socket Intel LGA 1700"
                            />
                        </a>
                        <a href="/cpu-intel-core-i5-12600kf/" class="p-name line-clamp-2"
                            >CPU Intel Core i5 12600KF (4.90GHz, 10 Nhân 16 Luồng, 20M Cache, Alder
                            Lake) - Socket Intel LGA 1700</a
                        >
                        <div class="p-bot">
                            <div class="p-stt-price">
                                <span class="p-price">Liên hệ</span>
                                <span class="p-old-price"></span>

                                <span class="p-stt p-het"
                                    ><i class="fa fa-times" aria-hidden="true"></i> Hết hàng</span
                                >
                            </div>
                            <a
                                href="javascript:;"
                                onclick="addProductToCart(2691, 0, 1, 0);"
                                class="p-buynow icon-2021"
                            ></a>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="p-container">
                        <span class="p-discount icon-2021">-12%</span>

                        <a href="/cpu-intel-core-i5-12600k/" class="p-img">
                            <img
                                src="https://kccshop.vn/media/product/250-2690-12600k.jpg"
                                alt="CPU Intel Core i5 12600K  (4.90GHz, 10 Nhân 16 Luồng, 20M Cache, Alder Lake) - Socket Intel LGA 1700"
                            />
                        </a>
                        <a href="/cpu-intel-core-i5-12600k/" class="p-name line-clamp-2"
                            >CPU Intel Core i5 12600K (4.90GHz, 10 Nhân 16 Luồng, 20M Cache, Alder
                            Lake) - Socket Intel LGA 1700</a
                        >
                        <div class="p-bot">
                            <div class="p-stt-price">
                                <span class="p-price">8.790.000đ</span>
                                <span class="p-old-price"> 9.990.000đ </span>

                                <span class="p-stt p-con"
                                    ><i class="fa fa-check" aria-hidden="true"></i> Còn hàng</span
                                >
                            </div>
                            <a
                                href="javascript:;"
                                onclick="addProductToCart(2690, 0, 1, 0);"
                                class="p-buynow icon-2021"
                            ></a>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="p-container">
                        <a href="/cpu-intel-core-i7-12700k/" class="p-img">
                            <img
                                src="https://kccshop.vn/media/product/250-2689-12700k.jpg"
                                alt="CPU Intel Core i7-12700K (5.00GHz, 12 Nhân 20 Luồng, 25M Cache, Alder Lake) - Socket Intel LGA 1700"
                            />
                        </a>
                        <a href="/cpu-intel-core-i7-12700k/" class="p-name line-clamp-2"
                            >CPU Intel Core i7-12700K (5.00GHz, 12 Nhân 20 Luồng, 25M Cache, Alder
                            Lake) - Socket Intel LGA 1700</a
                        >
                        <div class="p-bot">
                            <div class="p-stt-price">
                                <span class="p-price">Liên hệ</span>
                                <span class="p-old-price"></span>

                                <span class="p-stt p-het"
                                    ><i class="fa fa-times" aria-hidden="true"></i> Hết hàng</span
                                >
                            </div>
                            <a
                                href="javascript:;"
                                onclick="addProductToCart(2689, 0, 1, 0);"
                                class="p-buynow icon-2021"
                            ></a>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="p-container">
                        <a href="/cpu-intel-core-i9-12900kf/" class="p-img">
                            <img
                                src="https://kccshop.vn/media/product/250-2688-"
                                alt="CPU Intel Core i9-12900KF (5.20GHz, 16 Nhân 24 Luồng, 30M Cache, Alder Lake) - Socket Intel LGA 1700"
                            />
                        </a>
                        <a href="/cpu-intel-core-i9-12900kf/" class="p-name line-clamp-2"
                            >CPU Intel Core i9-12900KF (5.20GHz, 16 Nhân 24 Luồng, 30M Cache, Alder
                            Lake) - Socket Intel LGA 1700</a
                        >
                        <div class="p-bot">
                            <div class="p-stt-price">
                                <span class="p-price">Liên hệ</span>
                                <span class="p-old-price"></span>

                                <span class="p-stt p-het"
                                    ><i class="fa fa-times" aria-hidden="true"></i> Hết hàng</span
                                >
                            </div>
                            <a
                                href="javascript:;"
                                onclick="addProductToCart(2688, 0, 1, 0);"
                                class="p-buynow icon-2021"
                            ></a>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="p-container">
                        <a href="/cpu-intel-core-i9-12900k/" class="p-img">
                            <img
                                src="https://kccshop.vn/media/product/250-2687-12900k.jpg"
                                alt="CPU Intel Core i9-12900K (5.20GHz, 16 Nhân 24 Luồng, 30M Cache, Alder Lake) - Socket Intel LGA 1700"
                            />
                        </a>
                        <a href="/cpu-intel-core-i9-12900k/" class="p-name line-clamp-2"
                            >CPU Intel Core i9-12900K (5.20GHz, 16 Nhân 24 Luồng, 30M Cache, Alder
                            Lake) - Socket Intel LGA 1700</a
                        >
                        <div class="p-bot">
                            <div class="p-stt-price">
                                <span class="p-price">Liên hệ</span>
                                <span class="p-old-price"></span>

                                <span class="p-stt p-het"
                                    ><i class="fa fa-times" aria-hidden="true"></i> Hết hàng</span
                                >
                            </div>
                            <a
                                href="javascript:;"
                                onclick="addProductToCart(2687, 0, 1, 0);"
                                class="p-buynow icon-2021"
                            ></a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <img
                    src="https://media.discordapp.net/attachments/848437070229798912/909784995835568158/bungo.png?width=426&height=675"
                    alt=""
                    srcset=""
                />
            </div>

            <div class="paging">
                <a href="/cpu-bo-vi-xu-ly/" class="current"> 1 </a>

                <a href="/cpu-bo-vi-xu-ly/?page=2"> 2 </a>

                <a href="/cpu-bo-vi-xu-ly/?page=3"> 3 </a>

                <a href="/cpu-bo-vi-xu-ly/?page=4"> 4 </a>
            </div>
        </div>
    </body>
</html>
