<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="test.css" />
    </head>
    <body>
        <div class="_2Ou6oA">
            <div class="_2-neO2">
                <a
                    data-sqe="link"
                    href="/Cáp-Chuyển-Đổi-Usb-3.1-Type-C-Sang-Vga-Hdmi-4k-i.107935705.4677102408"
                    ><div class="_3QUP7l">
                        <div class="_9qe9lA">
                            <div class="_25_r8I ggJllv">
                                <img
                                    width="invalid-value"
                                    height="invalid-value"
                                    alt="Cáp Chuyển Đổi Usb 3.1 Type C Sang Vga Hdmi 4k
"
                                    class="_3-N5L6 _2GchKS"
                                    style="object-fit: contain"
                                    src="https://cf.shopee.vn/file/a29daa5a8bab5b36079765c9044009e8_tn"
                                />
                            </div>
                            <div class="_3zWriB">
                                <div class="_2pfw2D" data-sqe="name">
                                    <div class="_1N6I4W">
                                        <div class="_10Wbs- _5SSWfi UjjMrh">
                                            Cáp Chuyển Đổi Usb 3.1 Type C Sang Vga Hdmi 4k
                                        </div>
                                    </div>
                                </div>
                                <div class="_1zR5G3">
                                    <div class="zp9xm9 xSxKlK _1heB4J">
                                        <span class="_22f2FV">₫</span
                                        ><span class="_1d9_77">11.7</span> -
                                        <span class="_22f2FV">₫</span
                                        ><span class="_1d9_77">12.2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></a
                >
            </div>
            <div class="_2-neO2">
                <a
                    data-sqe="link"
                    href="/Cáp-Chuyển-Đổi-Usb-3.1-Type-C-Sang-Vga-Hdmi-4k-i.107935705.4677102408"
                    ><div class="_3QUP7l">
                        <div class="_9qe9lA">
                            <div class="_25_r8I ggJllv">
                                <img
                                    width="invalid-value"
                                    height="invalid-value"
                                    alt="Cáp Chuyển Đổi Usb 3.1 Type C Sang Vga Hdmi 4k
"
                                    class="_3-N5L6 _2GchKS"
                                    style="object-fit: contain"
                                    src="https://cf.shopee.vn/file/a29daa5a8bab5b36079765c9044009e8_tn"
                                />
                            </div>
                            <div class="_3zWriB">
                                <div class="_2pfw2D" data-sqe="name">
                                    <div class="_1N6I4W">
                                        <div class="_10Wbs- _5SSWfi UjjMrh">
                                            Cáp Chuyển Đổi Usb 3.1 Type C Sang Vga Hdmi 4k
                                        </div>
                                    </div>
                                </div>
                                <div class="_1zR5G3">
                                    <div class="zp9xm9 xSxKlK _1heB4J">
                                        <span class="_22f2FV">₫</span
                                        ><span class="_1d9_77">11.7</span> -
                                        <span class="_22f2FV">₫</span
                                        ><span class="_1d9_77">12.2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></a
                >
            </div>
        </div>
    </body>
</html>
