.product-carousel-img-big {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    /* cursor: pointer; */
}

.product-carousel-img-container {
    max-width: 454px !important;
}

.product-carousel-img-small {
    width: 100%;
    height: 100%;
    max-width: 82px;
    max-height: 82px;
    object-fit: contain;
    cursor: pointer;
}

.product-carousel-img-small:hover {
    border: 2px solid var(--inspiring-red);
}

.product-carousel-img-small-active {
    border: 2px solid var(--inspiring-red);
}

.product-carousel-btn {
    border: none;
    background: transparent;
    color: var(--inspiring-red);
}

.product-carousel-btn:hover {
    color: #630606;
}

.product-carousel-btn:active {
    color: darksalmon;
}
