.product-carousel-img-big {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
    cursor: pointer;
}

.product-carousel-img-container {
}

.product-carousel-img-small {
    width: 100%;
    height: 100%;
    max-width: 82px;
    max-height: 82px;
    object-fit: contain;
    cursor: pointer;
}

.product-carousel-img-small:hover {
    border: 2px solid var(--inspiring-red);
}

.product-carousel-btn-prev,
.product-carousel-btn-next {
    border: none;
    background: transparent;
}

.product-carousel-btn-prev {
    left: 0;
}

.product-carousel-btn-next {
    right: 0;
}
